chromadb~=0.4.24
numpy~=1.26.4
gensim~=4.3.2
PyQt5~=5.15.10
PyQtChart~=5.15.6
pandas~=2.2.1
tqdm~=4.66.2
python-dotenv~=1.0.1
halo~=0.0.31
colorama~=0.4.6
transformers~=4.38.2
sentence-transformers~=2.7.0
openai~=0.28.0

-f https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio
