chromadb~=0.4.24
numpy~=1.26.4
gensim~=4.3.2
nltk~=3.8.1
PyQt5~=5.15.10
pandas~=2.2.1
tqdm~=4.66.2
datasets~=2.18.0
scikit-learn~=1.4.1.post1
scipy~=1.12.0
cohere~=4.52
python-dotenv~=1.0.1
halo~=0.0.31
colorama~=0.4.6
spacy~=3.7.4